
* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Helvetica, "Trebuchet MS", sans-serif;
	background: #fff url(../imagens/bg.png);
	margin: 15px;
}


ul {
	list-style-type: none;
}

#container {
	margin: 0 auto;
	min-width: 700px;
	max-width: 1180px;
}

#topo {
	min-height: 250px;
	height: 15.4em;
	position: relative;
}

#area-logo {
	background-image: url(../imagens/topo-imagem-principal2.png);
	min-width: 480px;
	width: 100%;
	min-height: 250px;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	left: 0;
}

#area-logo h1 {
	background-image: url(../imagens/logo.png);
	height: 66px;
	width: 156px;
	text-indent: -500px;
	position: relative;
	top: 15px;
	left: 15px;
	z-index: 3;
}

#area-menu {
	background-image: url(../imagens/topo-imagem-lateral.png);
	position: absolute;
	top: 0;
	right: 0;
	min-width: 450px;
	min-height: 250px;
	height: 15.4em;
	z-index: 2;
}

#lista-menu {
	position: relative;
	top: 75px;
	left: 90px;
	font-size: 0.85em;
}

#lista-menu a {
	color: #7B6536;
	text-decoration: none;
	padding: 5px;
}

#lista-menu a:hover {
	background-color: #fff;
	color: #7B6536;
}

#area-menu ul li {
	padding: 5px;
	text-transform: uppercase;
}

#area-cidades {
	z-index: 1;
	position: absolute;
	top: 10px;
	right: 150px;
	color: #C7A457;
	text-transform: none;
	font-size: 0.8em;
	border-bottom: 1px #C7A457 solid;
	border-top: 1px #C7A457 solid;
	padding: 5px;
}

#reservar {
	text-transform: uppercase;
	color: #fff;
	background-color: #7B6536;
	text-decoration: none;
	padding: 4px;
	position: absolute;
	top: 10px;
	right: 30px;
}

#area-depoimento {
	background-image: url(../imagens/depoimento.png);
	width: 226px;
	height: 164px;
	z-index: 4;
	position: absolute;
	top: 60px;
	left: 200px;
}

#conteudo-principal {
	width: 50%;
	background-image: url(../imagens/bg-area-principal.png);
	padding: 20px;
	float: left;t
}

#conteudo-principal h2 {
	color: #b18425;
	font-size: 1.3em;
	margin-bottom: 30px;
}

#conteudo-principal p {
	margin-bottom: 30px;
}

#conteudo-lateral {
	float: right;
}